{
  "printWidth": 80,
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": false,
  "experimentalTernaries": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "trailingComma": "all",
  "embeddedLanguageFormatting": "auto",
  "prettier/prettier": [
    "error",
    {
      "end0fLine": "auto"
    }
  ]
}
